.Rendering{
    border-bottom: silver 5px solid;
    margin: 20px 0 20px;
    display: flex;
}
.Rendering img:nth-child(1){

}
.Rendering img{
    height: 300px;
}
.Rendering-right{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}