.About{
    margin: 40px;
    border-radius: 36px;
    color: white;
    padding: 10px;
    background: rgb(238,158,28);
    background: linear-gradient(90deg, rgba(238,158,28,1) 0%, rgba(98,200,47,1) 100%);
    display: flex;
    flex-flow: wrap;
    justify-content: center;
    align-items: center;
}
.React{
    margin: 50px 0 0;
}