.Spa{
    border-bottom: silver 5px solid;
    margin: 20px 0 20px;
    display: flex;
}
.Spa a{
    text-decoration: none;
    text-underline: none;
    font-size: 25px;
    color: white;
}
.Link-menu{
    background-color: #474946;
    padding: 20px;
    color: white;
    border-radius: 15px;
    line-height: 1.8;
    display: inline-block;
    justify-content: space-evenly;
}
.Spa-right{
    display: flex;
    flex-direction: row;
    border-radius: 15px;
}
.Spa-right-flex{
    display: flex;
    align-content: center;
}