.Spa{
    border-bottom: silver 5px solid;
    margin: 20px 0 20px;
    display: flex;
}
.Spa a{
    text-decoration: none;
    text-underline: none;
    font-size: 25px;
    color: white;
}
.Spa-right{
    background-color: #474946;
    padding: 20px;
    color: white;
    border-radius: 15px;
    height: 180px;
    line-height: 1.8;
}