.Treeshaking {
    display: flex;
    border-bottom: silver 5px solid;
    border-top: silver 5px solid;
    margin: 20px 0 20px;
}

.Left {
    width: 30%;
    margin: 20px;
}

.Right {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}
